html,body{
	height: 100%;
}
.attestationBox{
	background:#f5f5f5;
	height:100%;
	padding: 0 0.19rem;
	font-family: "微软雅黑";
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	flex-direction:column;
}
.attestationBox .selectText{
	width:100%;
	height:1.05rem;
	line-height:1.05rem;
	text-align:center;
	font-size:0.3rem;
	color:#666;
}
.attestationBox .selectInput input{
	width:98%;
	height:0.84rem;
	line-height:0.86rem;
	border:1px solid  #eaeae9;
	border-radius:0.1rem;
	-webkit-border-radius:0.1rem;
	-moz-border-radius:0.1rem;
	background:#fff;
	padding: 0;
	margin: 0  auto;
	display: inline-block;
	font-size:0.3rem;
	text-align: center;
}
.attestationSelectButton #inquireBtn{
	display: block;
	width:7.08rem;
	height:0.88rem;
	line-height:0.88rem;
	text-align:center;
	background:#3385ff;
	color:#fff;
	border-radius:0.1rem;
	-webkit-border-radius:0.1rem;
	-moz-border-radius:0.1rem;
	margin-top:0.85rem;
	font-size:0.3rem;
}
.attestationSelectHelp{
	width:100%;
	height:1.24rem;
	border-bottom: 1px solid #eaeae9;
	line-height:1.24rem;
	text-align:center;
	color:#666;
	font-size:0.24rem;
}
#HelpSelect{
	position:relative;
}
#HelpSelect i{
	display: inline-block;
	width:0.3rem;
	height:0.3rem;
	background:url(../img/help.png) no-repeat center center;
	background-size:100% 100%;
	position: absolute;
	left: -0.4rem;
	top: -0.01rem;
	
}
.attestationHelpText{
	flex:1;
	-webkit-flex:1;
	-moz-flex:1;
}
.attestationHelpText h3{
	width:100%;
	height:0.3rem;
	line-height:0.3rem;
	font-size:0.3rem;
	margin-bottom:0.15rem;
	font-weight:500;
	margin-top:0.2rem;
}
.attestationHelpText p{
	line-height:0.4rem;
	text-indent: 2em;
	font-size:0.2rem;
	color:#666;
}
