.replyPage{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	border:0.01rem  solid #ddd;
}
.commentsMain{
	line-height:1.8rem;
	padding:0.21rem 0.3rem 0.23rem 0.28rem; 
	border-bottom:0.01rem  solid #ddd;
	display: flex;
	display: -webkit-flex;
	flex-flow:row;
	width:100%;
}
.commentsMain .floatL{
	width:0.76rem;
	height:0.76rem;
	margin-right:0.2rem;
}
.commentsMain .floatL img{
	width:100%;
	height:100%;
}
.commentsMain .floatR{
	flex:1;
	-webkit-flex:1;
}
.commentsMain .floatR p{
	line-height:0.24rem;
}
.MainActive{
	color:#3385FF;
}
.hehe{
	
}
.MainpName{
	font-size:0.24rem;
}
.MainpComment{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	font-size:0.24rem;
	color:#333;
}
.MainpTime{
	font-size:0.22rem;
	color:#666;
}
.MainpZan{
	line-height:0.24rem;
}
.MainpZan .floatL{
	width:4rem;
}
.MainpZan .floatL img{
	width:0.42rem;
	height:0.42rem;
	display:inline-block;
}
.MainpZan .floatL span{
	font-size:0.24rem;
	color:#333;
	line-height:0.35rem;
	margin-left:0.01rem;
}
.MainpZan .floatR{
	font-size:0.26rem;
	color:#999;
}
.MainpZan .floatR i{
	display:inline-block;
	width:0.26rem;
	height:0.26rem;
	background:url(../img/good.png) no-repeat center center;
	background-size:100% 100%;
	margin-right:0.18rem;
}
.allComments{
	flex:1;
	-webkit-flex:1;
	padding:0.26rem 0.3rem 0 0.3rem;
}
.allCommentsTil{
	line-height:0.3rem;
	font-size:0.28rem;
	color:#333;
}
.allCommentsUl li{
	line-height:1.2rem;
	border-bottom:0.01rem solid #ddd;
	width:100%;
	padding:0.21rem 0 0.3rem 0;
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
}
.allCommentsUl li .floatL{
	width:0.76rem;
	height:0.76rem;
	margin-right:0.2rem;
}
.allCommentsUl li .floatL img{
	width:100%;
	height:100%;
}
.allCommentsUl .floatR{
	flex:1;
	-webkit-flex:1;
}
.allCommentsUl .floatR p{
	line-height:0.3rem;
}
.MainpName .floatR i{
	background: url(../img/goods.png) no-repeat center center;
	background-size:100% 100%;
	display: inline-block;
	width:0.26rem;
	height:0.26rem;
	margin-right:0.15rem;
}



#con_imgs{
	width: 75px;
    height: 0.42rem;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display: inline-block;
}
.con_imgs_div{
	width:0.42rem;
	height:0.42rem;
	border-radius: 100%;
	display: inline-block;
	overflow: hidden;
}
