<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>公益页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/training.css" />
		<link rel="stylesheet" href="../css/iconfont.css" />
		<style>
			.changeBig{
				position: absolute;
			    width: 100%;
			    top: 27%;
			    margin: 0 auto;
			    left: 0;
			    z-index: 9999;
			}
			.displayB{
				display: block;
			}
		</style>
	</head>

	<body>
		<!--<div id = "bgBlack" style="display:none;width:100%;height: 950px;background: #000;position: absolute;top:0;z-index: 999;"></div>
		<div id="slidert" class="mui-slider" >
			<div class="mui-slider-group mui-slider-loop">
				<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				<!--<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img src="http://47.93.192.128:5001/ImgUpload/20170717/20170717171036286079.jpg">
					</a>
				</div>-->
				<!-- 第一张 -->
				<!--<div class="mui-slider-item">
					<a href="#">
						<img src="http://47.93.192.128:5001/ImgUpload/20170717/20170717171036286079.jpg">
					</a>
				</div>-->
				<!-- 第二张 -->
				<!--<div class="mui-slider-item">
					<a href="#">
						<img src="http://47.93.192.128:5001/ImgUpload/20170717/20170717171036286079.jpg">
					</a>
				</div>-->
				
			<!--</div>
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
			</div>
		</div>-->
		<div class="charityList"></div>
		
		<script type="text/html" id="charityList">
			
			
			
			{{ if activition.Data.img==""}}
			
			<div id="{{activition.Data.id}}">
				<img src="../images/Charity_banner.jpg"/>
			</div>
			{{/if}}
			
			
			{{ if activition.Data.img!==""}}

			<div id="{{activition.Data.id}}">
				<img src="{{activition.Data.img}}"/>
			</div>
			{{/if}}
			
			
			<div class="charity_tit">
				<h2>支教新闻</h2>
				<a href="GetGongyiNewsList.html">更多></a>
			</div>
			{{each activition as value}}
				{{include 'newslist' value}}
			{{/each}}
			
			<div class="charity_tit">
				<h2>最新图文</h2>
				<a class="goIos">更多></a>
			</div>
			
		</script>
		
		<script type="text/html" id="newslist">
			<div class="charity_list">
				<ul class="mui-table-view">
					{{each newslist as value i}}
					 <li class="mui-table-view-cell" id="{{value.newsid}}" commentCount="{{value.commentCount}}">
					 	<a><p>{{value.newstitle}}</p><span>{{value.createtime}}</span></a>
					 </li>
					 {{/each}}
		 		</ul>
			</div>
		</script>
		
	    <div id="imgList" class="charity_list_img"></div>

		<script src="../js/mui.min.js"></script>
		<script src="../js/flexable.js"></script>
		<!--<script src="../js/zepto_1.1.3.js"></script>-->
		<script src="../js/common.js"></script>
		<!--<script src="../js/charity_list.js"></script>-->
		<script src="../js/artTemplate.js"></script>
		<script type="text/javascript" src="../js/jquery.js">
			
		</script>
		<script type="text/javascript" charset="utf-8">
//		mui.init( {
//				swipeBack: true //启用右滑关闭功能
//			}
//			
//			);
//			var slidert=mui("#slidert");
			$(document).ready(function() {
				function GetQueryString(name) {
					var reg=new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
					var r=window.location.search.substr(1).match(reg);
					if(r !=null) return unescape(r[2]);
					return null;
				}
				var id=GetQueryString("id");
				var userID=GetQueryString("userID");
			
				var url='http://47.93.192.128:5001/News/GongyiList';
					$.ajax({
					url: url,
					dataType: 'json',
					type: 'post',
					success: function(data) {
						console.log(data) ;
						
						var imgList = data.Data.Data.imgnewslist;
						var str = template("charityList", {activition: data.Data}) ;
						var fragment = document.createDocumentFragment(); //创建一个代码片段
						var a;
						for(i = 0; i < imgList.length; i++) {
							a = document.createElement('a');
							//	li.className = 'mxhLi';
							a.innerHTML = '<img src=' + imgList[i].img + '>'
							fragment.appendChild(a);
						}
						document.querySelector("#imgList").appendChild(fragment);
//						var disP = false;
//						mui('#imgList').on('tap', 'a', function() {
//							if(!disP) {
//								$(this).find('img').addClass('changeBig');
//								document.getElementById('bgBlack').style.display = 'block';
//								disP = true;
//							} else {
//								$(this).find('img').removeClass('changeBig');
//								document.getElementById('bgBlack').style.display = 'none';
//								disP = false;
//							}
//						});
						$(".charityList").html(str);
						$(".mui-table-view-cell").click(function() {
							let id = $(this).attr('id'); // 获取id
							let commentCount = $(this).attr('commentCount');
							window.location.href = "newsContent.html?id=" + id + "&commentCount=" + commentCount + "&userID=" + 10005;
						});
						$(".goIos").click(function() {
							window.location.href = "segue://id=1019&type=NEWSPIC";
						})
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						alert(XMLHttpRequest.status);
					}
					});
					
					});
		</script>
	</body>
</html>