<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新闻列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/mui.picker.css" rel="stylesheet" />
		<link href="../css/mui.poppicker.css" rel="stylesheet" />
		<style>
			.mui-control-content {
				background-color: white;
				min-height: 635px;
			}
			
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			
			li {
				list-style: none;
			}
			
			.content {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			#sliderSegmentedControl {
				position: relative;
			}
			
			#NavList {
				/*width: 90%;*/
			}
			
			.navAdd {
				position: absolute;
				top: 0;
				right: 0;
				width: 9%;
				height: 40px;
				text-align: center;
				font-size:28px;
				color: #6D6D72;
				background: #efeff3;
				z-index: 2;
				text-align: center;
    			line-height: 34px;
    			
				/*background: url(../images/newAdd.png) no-repeat center center;*/
			}
			
			/*.navAdd a {
				display: inline-block;
				margin: 0 auto;
				margin-top: 5px;
				width: 80%;
				height: 80%;
				background: url(../images/newAdd.png) no-repeat center center;
				text-align: center;
				font-size:28px;
				color: white;
			}*/
			
			
			.mui-segmented-control.mui-scroll-wrapper .mui-control-item.nav {
				padding: 0 10px;
			}
			
			/*.mui-table-view.mui-grid-view {
				white-space: nowrap;
			}*/
			
			.mui-grid-view.mui-grid-9 .mui-table-view-cell {
				padding: 11px 6px;
			}
			
			.view i {
				display: inline-block;
				width: 13px;
				height: 11px;
				background: url(../images/look.png) no-repeat center center;
				background-size: 100% 100%;
				margin-right: 5px;
			}
			
			
			
			.view {
				font-size: 11px;
				color: #CCCCCC;
				padding-left: 5px;
			}
			
			#showCityPicker{
				display: none;
			}
			.tittle{
				font-size: 16px;
				color: #333333;
			
			}
			
			.muiCont{
				color: #999999;
			}
			
			.mui-grid-view.mui-grid-9 .mui-table-view-cell{
				max-height: 80px;
			}
		</style>
	</head>

	<body>

		<div id="slider" class="mui-slider">
			<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="NavList">
					<div class="mui-scroll Nav">
					</div>
					
				</div>
				<div class="navAdd" style="width: 9%; height: 34px">＋
					<!--<a href="newsarea.html"></a>-->
				</div>
				<!--<a class="mui-control-item" href="#22">
						待办公文
					</a>
							<a class="mui-control-item" href="#23">
						已办公文
					</a>
							<a class="mui-control-item" href="#24">
						全部公文
					</a>-->
			</div>

			<!--<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>-->
			<div class="mui-slider-group newsCont">
				<div class="mui-slider-item mui-control-content"></div>
			</div>

		</div>
		<script type="text/html" id="Nav">
			{{each list as v }}
			<a class="mui-control-item nav" href="#{{v.typeid}}" name="{{v.typeid}}">{{v.title}}</a>
			{{/each}}
			<a class="mui-control-item nav"></a>
			<a class="mui-control-item nav"></a>
		</script>

		<!-- 这个模板是为了以后整个界面切换的，ID是为了绑定切换的，才写的模板 -->
		<!--<script type="text/html" id="newCont">

			<ul class="mui-table-view">
				{{each list as v i}}
				<li class="mui-table-view-cell mui-media mediaId" id="{{v.id}}" commentCount={{v.commentCount}}>
					{{if v.pics.length == 0}}
					<div class="mui-table-img" style="display: none;"></div>
					{{/if}} {{if v.pics.length == 1}}
					<div class="mui-table-img onePic"><img src="{{v.pics[0]}}" class="mui-media-object mui-pull-left" /></div>
					{{/if}}
					<div class="mui-table-text mui-media-body">
						<p class="mui-table-title muipurelyTitle">{{v.title}}</p>
						{{if v.pics.length >= 3}}
						<div class="mui-table-pics muipurelyImg" id="purelyImg">
							{{include "newsListPics" v}}
						</div>
						{{/if}}
						<div class="muipurelytext">
							<p class="mui-table-look muipurelylook clearfix">
								<span class="lookLeft">{{v.publishDate}}{{v.source}}</span>
								<span class="lookRight"><i class="look" style="margin-right: 8px;"></i>{{v.viewCount}}</span>
							</p>
						</div>
					</div>
				</li>{{/each}}
			</ul>

		</script>
		<script type="text/html" id="newsListPics">
			{{each pics v i}}
			<img src="{{v}}" attr='{{v}}'>
			{{/each}}
				
		</script>-->

		<script type="text/html" id="newCont">
			{{if list.typeid ==5}}
				<div id='showCityPicker' style="text-align:center;color:#888;background: #e6e6e6;height: 40px;line-height: 40px;display: block;">选择城市:<span id='cityResult' class="ui-alert"></span></div>
			{{/if}}
			<ul class="mui-table-view diquCont">
				
				{{each list.Data as v i}}
				
				{{if v.pics.length<=2 }} 
					<li class="mui-table-view-cell mui-media mediaId" id="{{v.id}}" commentCount={{v.commentCount}}>
					<a class="">
						{{if v.pics.length == 0}}
						<img class="mui-media-object mui-pull-left" style="display:none" src="../images/Charity_img1.jpg"> {{/if}} 
							{{if v.pics.length >=1}}
						<img class="mui-media-object mui-pull-left" src="{{v.thumbImg}}"> 
							{{/if}}
							{{if v.thumbImg!=""}}
						<img class="mui-media-object mui-pull-left" src="{{v.thumbImg}}">
							{{/if}}
						<div class="mui-media-body">
							<div class="mui-ellipsis tittle">{{v.title}}</div>
							<div class="muiCont">
								<div class="mui-pull-left">{{v.publishDate}}{{v.source}}</div>
								<div class="mui-pull-right view"><i></i>{{v.viewCount}}</div>
							</div>
						</div>
					</a>
					</li>
					{{/if}} {{if v.pics.length >= 3}}
					<li class="mui-table-view-cell mui-media mediaId" id="{{v.id}}" commentCount={{v.commentCount}}>
						<div class="mui-media-body">
							<div class="mui-ellipsis tittle">{{v.title}}</div>
							<ul class="mui-table-view mui-grid-view mui-grid-9 imgList">
								
								<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
									<span class="mui-icon"><img class="" src="{{v.pics[0]}}"></span>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
									<span class="mui-icon"><img class="" src="{{v.pics[1]}}"></span>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
									<span class="mui-icon"><img class="" src="{{v.pics[2]}}"></span>
								</li>
								
							</ul>
							<div class="muiCont">
								<div class="mui-pull-left">{{v.publishDate}}{{v.source}}</div>
								<div class="mui-pull-right view"><i></i>{{v.viewCount}}</div>
							</div>

					</li>

					{{/if}} {{/each}}
			</ul>
		</script>

		<!--<script type="text/html" id="newsListPics">
			{{each pics v i}}
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<span class="mui-icon"><img class="" src="{{v}}" alt="../images/111.png"></span>
			</li>
			{{/each}}
				
		</script>-->
		
		<script type="text/html" id="NavcontA">
			
		
			<div id='showCityPicker' style="text-align:center;color:#888;background: #e6e6e6;height: 40px;line-height: 40px;display: block;">选择城市:<span id='cityResult' class="ui-alert">{{cont.provice}}{{cont.cityname}}</span></div>
		
			{{each cont.Data as v }}
			<li class="mui-table-view-cell mui-media mediaId" id="{{v.id}}" commentCount={{v.commentcount}}>
				<a>
					<div class="mui-media-body">
						<div class="mui-ellipsis tittle">{{v.Title}}</div>
						<div class="muiCont">
							<div class="mui-pull-left">{{(v.CreatedTime).slice(0,10)}}{{v.source}}</div>
							<div class="mui-pull-right view"><i></i>{{v.ViewsCount}}</div>
						</div>
					</div>
				</a>
			</li>

			{{/each}}
		</script>

		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/artTemplate.js"></script>
		<script src="../js/city.data.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script>
			$(document).ready(function() {
				function GetQueryString(name) {
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
					var r = window.location.search.substr(1).match(reg);
					if(r != null) return unescape(r[2]);
					return null;
				}

				var userID = GetQueryString("userID");
				console.log(userID)
//				var userID = 10035;

				var urlPath = "http://47.93.192.128:5001/";
				var group = $(".newsCont");
				$.ajax({
					type: "post",
					url: urlPath + "News/GetMyChannelList",
					async: true,
					dataType: "json",
					data: {
						UserId: userID
					},
					success: function(data) {
						console.log(data)
						var list = data.Data.Data
						console.log(list);
						var str = template("Nav", {
							list: list
						});
						$(".Nav").html(str).children(":first").addClass("mui-active");
						var firstDiv = group.children(":first");
						var len = list.length;
						for(var i = 0; i < len; i++) {
							var id = list[i].typeid;
							if(i == 0) {
								firstDiv.attr("id", id);
								var typeid = firstDiv.attr("id");
								newCont(typeid)
							} else {
								firstDiv.clone().attr("id", id).appendTo(group);
							}
						}
					}

				});

				function newCont(typeid) {
					$.ajax({
						type: "post",
						url: urlPath + "News/NewsList",
						async: true,
						dataType: "json",
						data: {
							pageindex: "", //number	否	页数，不填默认第一页	1
							typeid: typeid, //number	否	栏目类型id	1
							proid: "", //number	否	省id	3
							cityid: "", //number	否	城市id	5
							areaid: "" //number	否	区域id
						},
						success: function(data) {
							console.log(data)
							if(data.Data.Success==true){
								data.Data.typeid = typeid;
								var list = data.Data;
								console.log(list)
								var str = template("newCont", {
									list: list
								});

								$("#" + typeid).html(str);
								if(typeid==5 ){
									diqu();
								}

								$(".mediaId").click(function() {									
									var  id = $(this).attr('id'); // 获取id
									var  viewCount = $(this).attr('viewCount');
									var  commentCount = $(this).attr("commentCount");
									console.log(id,userID,commentCount);
									window.location.href = "newsDetailPage.html?id=" + id + "&userID=" + userID + "&commentCount=" + commentCount;
								});
								
							}
						
						}

					});
				}

				
				function city(typeid,cityname,provice){
					$.ajax({
						type:"post",
						url:urlPath + "News/AreaChange",
						async:true,
						dataType:"json",
						data:{
							AreaName: cityname,
							TypeId: typeid,
							ProvinceName: provice
						},
						success:function(data){
							var cont=data.Data;
							data.Data.typeid=typeid;
							data.Data.cityname=cityname;
							data.Data.provice=provice;
							console.log(cont,typeid);
							var str=template("NavcontA",{cont:cont});
							$("#"+5).html(str);
							if(typeid==5 ){
								diqu();
							}
//							var cityname=localStorage.getItem("cityname");
//							var provice=localStorage.getItem("provice");
//							console.log(cityname,provice)
//							var cityResult = document.getElementById('cityResult');
//							cityResult.innerText = provice+cityname;
							$(".mediaId").click(function() {									
									var  id = $(this).attr('id'); // 获取id
									var  viewCount = $(this).attr('viewCount');
									var  commentCount = $(this).attr("commentCount");
									console.log(id,userID,commentCount);
									window.location.href = "newsDetailPage.html?id=" + id + "&userID=" + userID + "&commentCount=" + commentCount;
								});
						}
					});
				}

				
				function diqu(){
					//开始
					var _getParam = function(obj, param) {
						return obj[param] || '';
					};
				
					//级联示例
					var cityPicker = new mui.PopPicker({
						layer: 2
					});
					cityPicker.setData(cityData);
					var showCityPickerButton = document.getElementById('showCityPicker');
					var cityResult = document.getElementById('cityResult');
					showCityPickerButton.addEventListener('tap', function(event) {
						cityPicker.show(function(items) {
							cityResult.innerText = items[0].text+items[1].text;
							var cityname=items[1].text;
							var provice=items[0].text;
							var typeid=5;
//							localStorage.setItem("cityname",cityname);
//							localStorage.setItem("provice",provice);
//							console.log(typeid,cityname,provice)
							city(typeid,cityname,provice);
						});
					}, false);
						
					//结束
				}
				
		
				document.getElementById('slider').addEventListener('slide', function(e) {
					var slide = group.children().eq(e.detail.slideNumber);
					var typeid = slide.attr("id");
					console.log(typeid)
					newCont(typeid);
					
				});
				
				$(".navAdd").click(function(){
					window.location.href="newsarea.html?userID="+userID;
				})

			})
		</script>

	</body>

</html>