<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
		<link href="../css/newList.css" rel="stylesheet" />
		<title>新闻列表页</title>
	</head>
	<body>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">

				<div class="newList"></div>

				<div class="navAdd" style="width: 10%;float: right;"><i></i></div>
				<div style="clear: both;"></div>
				<div class="mui-slider-group"></div>
			</div>
		</div>
		<!--新闻导航模板-->
		<script type="text/html" id="newList">
				<div style="width:90%;float:left;background:#fff;padding-left:0.3rem;">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						{{each newList as value}}
						<a class="mui-control-item" href="#{{value.Id}}">
							{{value.Title}}
						</a>
						{{/each}}
					</div>
				</div>
				</div>
		</script>

		<!-- 这个模板是为了以后整个界面切换的，ID是为了绑定切换的，才写的模板 -->
		<!--<script type="text/html" id="newsList">
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<div id="scroll1" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							{{each list as v i}}
								<li class="mui-table-view-cell" id="{{v.id}}">
									{{if v.pics.length == 1}}
									<div class="mui-table-img"><img src="{{v.pics[0].pics}}" /></div>
									{{/if}}
									<div class="mui-table-text">
										<p class="mui-table-title">{{v.title}}</p>
										{{if v.pics.length >= 3}}
										<ul class="mui-table-pics">
											{{include "newsListPics" {pics:v.pics} }}
										</ul>
										{{/if}}
										<p class="mui-table-look">
											<span class="lookLeft">{{publishDate}}{{source}}</span>
											<span class="lookRight"><i class="look"></i>{{viewCount}}</span>
										</p>
									</div>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>

		</script>-->

		

		<!-- 正常都在这一个模板里，可以用include引入另外的模板 -->
		<script type="text/html" id="newsList">
			{{each list as v i}}
			<li class="mui-table-view-cell" id="{{v.id}}">
				{{if v.pics.length == 1}}
					<div class="mui-table-img"><img src="{{v.pics[0].pics}}" /></div>
				{{/if}}
				<div class="mui-table-text">
					<p class="mui-table-title">{{v.title}}</p>
					{{if v.pics.length >= 3}}
					<ul class="mui-table-pics">
						{{include "newsListPics" {pics:v.pics} }}
					</ul>
					{{/if}}
					<p class="mui-table-look">
						<span class="lookLeft">{{publishDate}}{{source}}</span>
						<span class="lookRight"><i class="look"></i>{{viewCount}}</span>
					</p>
				</div>
			</li>
			{{/each}}
		</script>

		<script type="text/html" id="newsListPics">
			{{each pics as v i}}
				<li><img src="{{v}}"></li>
			{{/each}}
		</script>


		<!--<script type="text/html" id="picNo">
			<li class="mui-table-view-cell picNo" id="{{id}}">
				<div class="muipurelyTitle">{{title}}</div>
				<div class="muipurelytext ">
					<p class="muipurelylook clearfix"><span class="lookLeft">{{publishDate}}{{source}}</span><span class="lookRight"><i class="look"></i> {{viewCount}}</span></p>
				</div>
			</li>
		</script>

		<script type="text/html" id="picOne">
			<li class="mui-table-view-cell" id="{{id}}">
				<div class="mui-table-Img"><img src="{{pics}}" /></div>
				<div class="mui-table-text">
					<p class="mui-table-Tile">{{title}}</p>
					<p class="mui-table-look"><span class="lookLeft">{{publishDate}}{{source}}</span><span class="lookRight"><i class="look"></i> {{viewCount}}</span></p>
				</div>
			</li>
		</script>
		
		<script type="text/html" id="picThree">
			<li class="mui-table-view-cell viewcellHeight" id="{{id}}">
				<div class="muipurelyTitle">{{title}}</div>
				<div class="muipurelyImg" id="purelyImg">
					{{include "purelyImgUrl"}}
				</div>
				<div class="muipurelytext ">
					<p class="muipurelylook clearfix"><span class="lookLeft">{{publishDate}}{{source}}</span><span class="lookRight"><i class="look"></i> {{viewCount}}</span></p>
				</div>
			</li>

		</script>-->


		<script src="../js/flexable.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.pullToRefresh.js"></script>
		<script src="../js/mui.pullToRefresh.material.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/newsList1.js"></script>
    	<script type="text/javascript" src="../js/artTemplate.js"></script>
		<script type="text/javascript">

			$(document).ready(function() {
				var url = 'http://47.93.192.128:5001/News/NewsNavBar';
				$.ajax({
					url: url,
					dataType: 'json',
					type: 'post',
					success: function(data) {
						console.log(data.Data.Data);
						//新闻导航栏的结构
						var str = template("newList", {newList: data.Data.Data})
						$(".newList").html(str);

//						$(".activationRecordLi").click(function () {
//					        let id=$(this).attr('id');// 获取id
//					        localStorage.setItem("ActivityId",id)
//					        window.location.href = "training_con.html?id=" + id;
//					    })
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						alert(XMLHttpRequest.status);
						alert(XMLHttpRequest.readyState);
						alert(textStatus);
					}
				});

				var urll="http://47.93.192.128:5001/News/NewsList"
				$.ajax({
					url: urll,
					dataType: 'json',
					type: 'post',
					data:{
						pageindex:"",	//number	否	页数，不填默认第一页	1
						typeid:3,	//number	否	栏目类型id	1
						proid:"",	//number	否	省id	3
						cityid:"",	//number	否	城市id	5
						areaid:""	//number	否	区域id
					},
					success: function(data) {
						console.log(data.Data.Data);

						//这个模板生成的字符串整个放到外面大容器里
						var htmlStr = template("newsList", {list: data.Data.Data})
						$(".mui-slider-group").html(htmlStr);
						
//						$(".activationRecordLi").click(function () {
//					        let id=$(this).attr('id');// 获取id
//					        localStorage.setItem("ActivityId",id)
//					        window.location.href = "training_con.html?id=" + id;
//					    })
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {

						alert(textStatus);
					}
				});

			});

		</script>
	</body>
</html>
