<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
		<link href="../css/newList.css" rel="stylesheet" />
		<link href="../css/newsArea.css" rel="stylesheet" />
		<title>新闻列表页</title>		
	</head>

	<body class="mui-fullscreen">
		
		<div id="app" class="mui-views">
			<div class="mui-view">
				<div class="mui-pages">
				</div>
			</div>
		</div>

		<!--新闻列表-->
		<div class="mui-content mui-page" id="newsCont">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div style="width:90%;float:left;background:#fff;">
					<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div class="mui-scroll newsNav newsNavSub">
						</div>
					</div>
				</div>
		
				<div class="navAdd" style="width: 10%;float: right;"><a href="#protocol"></a></div>
				<div style="clear: both;"></div>
				<div class="mui-slider-group">
					<div class="mui-slider-item mui-control-content"></div>
				</div>
			</div>
		</div>
		
		<!--新闻频道-->
		<div class="mui-page" id="protocol">
			<div class="mui-scroll">
				<div class="newsAera">
					<div class="myChannel">
						<div class="myChannelTil clearfix">
							<span class="floatL">我的频道</span>
							<span class="floatR">编辑</span>
						</div>
						<ul class="myChannelmodule clearfix"></ul>
					</div>
					<div class="compileChannel">
						<div class="myChannelTil clearfix">
							<span class="floatL">点击添加更多频道</span>
						</div>
						<div class="dynamicallyAdd"></div>
					</div>
				</div>
			</div>
		</div>
			
		<!--新闻导航模板-->
		<script type="text/html" id="newsNav">
			{{each list v}}
			<a class="mui-control-item" href="#{{v.Id}}">
				{{v.Title}}
			</a>
			{{/each}}
			
		</script>
		// 我的频道加进导航栏
		<script type="text/html" id="newsNavSub">
			{{each list v}}
			<a class="mui-control-item" href="#{{v.typeid}}">
				{{v.title}}
			</a>
			{{/each}}
		</script>

		<!-- 这个模板是为了以后整个界面切换的，ID是为了绑定切换的，才写的模板 -->
		<script type="text/html" id="newsList">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						{{each list v i}}
						<li class="mui-table-view-cell mui-media mediaId" id="{{v.id}}" viewCount="{{v.viewCount}}">
							{{if v.pics.length == 0}}
							<div class="mui-table-img" style="display: none;"></div>
							{{/if}} {{if v.pics.length == 1}}
							<div class="mui-table-img onePic"><img src="{{v.pics[0]}}" class="mui-media-object mui-pull-left" /></div>
							{{/if}}
							<div class="mui-table-text mui-media-body">
								<p class="mui-table-title muipurelyTitle">{{v.title}}</p>
								{{if v.pics.length >= 3}}
								<div class="mui-table-pics muipurelyImg" id="purelyImg">
									{{include "newsListPics" v}}
								</div>
								{{/if}}
								<div class="muipurelytext">
									<p class="mui-table-look muipurelylook clearfix">
										<span class="lookLeft">{{v.publishDate}}{{v.source}}</span>
										<span class="lookRight"><i class="look" style="margin-right: 8px;"></i>{{v.viewCount}}</span>
									</p>
								</div>
							</div>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</script>

		<script type="text/html" id="newsListPics">
			{{each pics v i}}
			<img src="{{v}}" attr='{{v}}'>
			{{/each}}
		</script>

		<script src="../js/flexable.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.pullToRefresh.js"></script>
		<script src="../js/mui.pullToRefresh.material.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/newsList.js"></script>
		<script src="../js/template-web.js"></script>
		<script src="../js/mui.view.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/newsarea.js"></script>
		
		<!-- 我的频频道，删除，添加-->
		<script type="text/html" id="myChannel">
			{{each myChannel value i}}
				<li class="floatL channelOriginal zhu" id='{{value.channelid}}'>{{value.title}}
					<sup class="supDelate">x</sup>
				</li>
			{{/each}}
		</script>
		
		<!--循环ul模板嵌套并嵌套li循环-->
		<script type="text/html" id="channel">
			{{each channel value i}}
				<p class="compileAddChannelTile">{{value.Title}}</p>
				<div class="dynamicallyAdd">
   					<ul class="compileAddChannelArea commonHeight clearfix" id='Ty{{i}}'>
						{{include 'channelSon' value}}
					</ul>
				</div>
			{{/each}}
		</script>
		<!--ul中的li循环-->
		<script type="text/html" id="channelSon">
			{{each Son value i}}
				<li class="floatL channelOriginal pu" id='{{value.Id}}'>{{value.Title}}
					<sup class="supDelate">x</sup>
				</li>
			{{/each}}
		</script>
		<script type="text/javascript">
			mui.init();
			//初始化单页view
			var viewApi = mui('#app').view({
				defaultPage: '#newsCont'
			});
			
		</script>

	</body>

</html>