<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>培训列表页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/mui.picker.css" rel="stylesheet" />
		<link href="../css/mui.poppicker.css" rel="stylesheet" />
		<style>
			.mui-control-content {
				background-color: white;
				min-height: 635px;
			}
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			li{
				list-style: none;
			}
			
			.content{
				 white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
			}
			
			.tittle{
				font: 16px;
				font-weight: bold;
				color: #333333;
			
			}
		</style>
	</head>
	<body>

			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<!--<a class="mui-control-item" href="#item1mobile">
						待办公文
					</a>
							<a class="mui-control-item" href="#item2mobile">
						已办公文
					</a>
							<a class="mui-control-item" href="#item3mobile">
						全部公文
					</a>-->
				</div>
				
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="22" class="mui-slider-item mui-control-content mui-active">
						<div id='showCityPicker' style="text-align:center;color:#888;background: #e6e6e6;height: 40px;line-height: 40px;">选择城市:<span id='cityResult' class="ui-alert"></span></div>
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view diqu">
									
								</ul>
							</div>
						</div>
					</div>
					<div id="23" class="mui-slider-item mui-control-content">
						<div id="scroll2" class="mui-scroll-wrapper guojia">
							
						</div>

					</div>
					
					<div id="24" class="mui-slider-item mui-control-content">
						<div id="scroll3" class="mui-scroll-wrapper guoji">
						</div>
					</div>
				</div>
			</div>
		
		
		
		<script type="text/html" id="saiNav">
			{{each list as v }}
			<a class="mui-control-item" href="#{{v.Id}}" name="{{v.Id}}">{{v.Title}}</a>
			{{/each}}
		</script>
		
		<script type="text/html" id="Navcont">
			{{each cont as v }}
			
			<li class="mui-table-view-cell mui-media">
				<a onclick="content({{v.id}})">
					{{if v.ThumbImg.length !==0}}
					<img class="mui-media-object mui-pull-left" src="{{v.ThumbImg}}" style="padding: 5px;">
					{{/if}}
					
					<div class="mui-media-body">
						<h5 class="mui-ellipsis tittle" style="width: 80%;overflow: hidden;">{{v.Title}}</h5>
						<p class="mui-ellipsis">{{v.ShortMsg}}</p>
					</div>
					<div>培训时间：{{v.TrainTime}} <button onclick="content({{v.id}})" class="mui-btn-blue border-radius mui-pull-right">快速报名</button></div>
				</a>
			</li>

			{{/each}}
		</script>
		
		
		
		<script type="text/html" id="NavcontA">
			{{each cont as v }}
			
			<li class="mui-table-view-cell mui-media">
				<a onclick="content({{v.id}})">
					{{if v.pic.length !==0}}
					<img class="mui-media-object mui-pull-left" src="{{v.pic}}" alt="" style="padding: 5px;">
					{{/if}}
					
					<div class="mui-media-body">
						<h5 class="mui-ellipsis tittle" style="width: 80%;overflow: hidden;">{{v.Title}}</h5>
						<p class="mui-ellipsis">{{(v.content).replace(/<\/?[^>]*>/g,"")}}</p>
					</div>
					<div>培训时间：{{v.TrainTime}} <button onclick="content({{v.id}})" class="mui-btn-blue border-radius mui-pull-right">快速报名</button></div>
				</a>
			</li>

			{{/each}}
		</script>
		
		<script src="../js/artTemplate.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/city.data.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js"></script>
		<script src="../js/mui.poppicker.js"></script>

		<script>
				mui.init({
					swipeBack: false
				});
			
				$('.mui-scroll-wrapper').scroll({
					indicators: true //是否显示滚动条
				});
				var urlPath="http://47.93.192.128:5001/";
				var NavUrl = urlPath+"Train/TrainNavBar";
				var ListUrl = urlPath+"Train/TrainList";
				var group=$("#sliderSegmentedControl");
				$.ajax({
					type:"post",
					url:NavUrl,
					async:true,
					dataType:"json",
					success:function(data){
						var list=data.Data.Data.reverse();
						console.log(list);
						var str=template("saiNav",{list:list});
						$('#sliderSegmentedControl').html(str);
					}
				});
				
				
				
				
				
				saiAjax(22);
				function saiAjax(tyid){
					$.ajax({
					type:"post",
					url:ListUrl,
					async:true,
					dataType:"json",
					data: {
						typeId: tyid,
						pageindex: 1
					},
					success:function(data){
						console.log(data)
						var cont=data.Data.Data;
						console.log(cont);
						var str=template("Navcont",{cont:cont});
						$(".diqu").html(str);

					}
					});
				}
				function guojia(tyid){
					$.ajax({
						type:"post",
						url:ListUrl,
						async:true,
						dataType:"json",
						data: {
							typeId: tyid,
							pageindex: 1
						},
						success:function(data){
							console.log(data)
							var cont=data.Data.Data;
							console.log(cont);
							var str=template("Navcont",{cont:cont});
							$(".guojia").html(str);
						}
					});
				}
				
				function guoji(tyid){
					$.ajax({
						type:"post",
						url:ListUrl,
						async:true,
						dataType:"json",
						data: {
							typeId: tyid,
							pageindex: 1
						},
						success:function(data){
							console.log(data)
							var cont=data.Data.Data;
							console.log(cont);
							var str=template("Navcont",{cont:cont});
							$(".guoji").html(str);
						}
					});
				}
				
				function city(typeid,cityname,provice){
					$.ajax({
						type:"post",
						url:urlPath + "News/AreaChange",
						async:true,
						dataType:"json",
						data:{
							AreaName: cityname,
							TypeId: typeid,
							ProvinceName: provice
						},
						success:function(data){
							var cont=data.Data.Data;
							console.log(cont);
							var str=template("NavcontA",{cont:cont});
							$(".diqu").html(str);
						}
					});
				}
				

				document.getElementById('slider').addEventListener('slide', function(e) {
					if(e.detail.slideNumber==0){
						var tyid=group.children().eq(e.detail.slideNumber).attr("name")
						console.log(tyid)
						saiAjax(tyid);
					}
					if(e.detail.slideNumber==1){
						var tyid=group.children().eq(e.detail.slideNumber).attr("name")
						console.log(tyid)
						guojia(tyid);
					}
					if(e.detail.slideNumber==2){
						var tyid=group.children().eq(e.detail.slideNumber).attr("name")
						console.log(tyid)
						guoji(tyid);
					}
					
				
				});
				
				var _getParam = function(obj, param) {
						return obj[param] || '';
					};
					//					
					//级联示例
					var cityPicker = new mui.PopPicker({
						layer: 2
					});
					cityPicker.setData(cityData);
					var showCityPickerButton = document.getElementById('showCityPicker');
					var cityResult = document.getElementById('cityResult');
					showCityPickerButton.addEventListener('tap', function(event) {
						cityPicker.show(function(items) {
							cityResult.innerText = items[0].text+items[1].text;
							var cityname=items[1].text;
							var provice=items[0].text;
							var typeid=17;
							city(typeid,cityname,provice);
						});
					}, false);
					
					function content(id){
						window.location.href = "trainingContent.html?id=" + id;
					}
					
			
		</script>
	
		
	</body>

</html>